html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(27, 68, 181);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(85, 104, 157);
    padding: 10px 20px 0px;
}
.header {
    position: relative;
    background-color: rgb(27, 68, 181);
    min-height: 150px;
}
.nome {
    position: absolute;
	top: 65px;
	right: 40px;
    color: white;
}
.content {
    position: relative;
    background-color: white;
    min-height: 940px;
    padding: 20px ;
}
.saude {
    display: inline-block;
    vertical-align: top;
    width: 450px;
}
.plano {
    position: absolute;
    top: 10px;
	right: 10%;
    width: 30%;
}

.footer {
    background-color: rgb(27, 68, 181);
    padding-top: 10px;
    text-align: center;
    
}